In [1]:
import pandas as pd

In [2]:
house_df = pd.read_excel("data/house_property.xlsx")
house_df.head()

,CommunityName,TradeDate,TotalPrice,Price,ListedPrice,ListedTime,PriceChange,RoomShowing,Followers,Views,...,ParkingLot,lng,lat,Floor_level,Floor_total,Size_num,StairsUnitRatio_num,Only_South,Only_North,South_North
0,龙泉花园,2011.01.01,125.0,17628,暂无数据,1,0,0,0,暂无数据,...,0,116.116971,39.943729,中楼层,6,70.91,0.333333,0,False,0
1,桥东街小区,2011.01.02,105.0,17562,暂无数据,1,0,0,0,暂无数据,...,0,116.111157,39.950867,顶层,6,59.79,0.500000,0,True,1
2,新桥家园,2011.01.03,198.0,18075,暂无数据,1,0,0,0,暂无数据,...,0,116.109749,39.943245,高楼层,6,109.27,0.250000,0,True,0
3,阁外山水,2011.01.04,168.0,16830,暂无数据,1,0,0,0,暂无数据,...,0,116.112665,39.952690,底层,6,99.53,0.500000,0,False,0
4,龙泉花园,2011.01.06,173.0,19182,暂无数据,1,0,0,0,暂无数据,...,0,116.116971,39.943729,中楼层,6,90.19,0.500000,0,True,1

In [3]:
print(len(house_df[house_df['ListedPrice'] != "暂无数据"]))
house_df.describe()

9487

,TotalPrice,PriceChange,RoomShowing,Followers,TradeYear,TradeMonth,TradeDay,Washroom,Kitchen,Livingroom,Bedroom,ParkingLot,lng,lat,Floor_total,Size_num,StairsUnitRatio_num,Only_South,South_North
count,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000,9965.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000,10000.0,10000.000000,9992.000000,10000.000000,10000.000000
mean,200.813800,1.22710,0.002100,0.023700,2011.820800,6.488400,15.763472,1.107400,0.942300,1.13860,1.966300,0.000800,116.363144,39.909045,6.0,76.505399,0.371354,0.284300,0.481500
std,134.359985,1.74133,0.200249,0.820247,0.383539,2.875429,8.667526,0.372665,0.245717,0.45827,0.741093,0.028274,0.105359,0.076995,0.0,33.000270,0.175744,0.451103,0.499683
min,10.000000,0.00000,0.000000,0.000000,2011.000000,1.000000,1.000000,0.000000,0.000000,0.00000,0.000000,0.000000,116.019069,39.518380,6.0,11.500000,0.020000,0.000000,0.000000
25%,124.000000,0.00000,0.000000,0.000000,2012.000000,4.000000,8.000000,1.000000,1.000000,1.00000,1.000000,0.000000,116.321953,39.865517,6.0,55.557500,0.250000,0.000000,0.000000
50%,168.000000,1.00000,0.000000,0.000000,2012.000000,7.000000,15.000000,1.000000,1.000000,1.00000,2.000000,0.000000,116.358465,39.915465,6.0,68.135000,0.333333,0.000000,0.000000
75%,239.000000,2.00000,0.000000,0.000000,2012.000000,9.000000,23.000000,1.000000,1.000000,1.00000,2.000000,0.000000,116.404561,39.959568,6.0,89.660000,0.500000,1.000000,1.000000
max,2195.000000,18.00000,20.000000,64.000000,2012.000000,12.000000,31.000000,5.000000,3.000000,3.00000,7.000000,1.000000,116.701930,40.226052,6.0,550.000000,3.000000,1.000000,1.000000

In [14]:
print(set(house_df['BuildingStructure']))
print(len(house_df[house_df['BuildingStructure'] == "未知结构"]))

{'砖混结构', '未知结构', '钢结构', '砖木结构', '混合结构', '钢混结构'}
7

In [21]:
# 把无房价的列去除
house_df = house_df[house_df['ListedPrice'] != "暂无数据"]
house_df.to_csv("data/house_property.csv", index=False)

In [9]:
print(set(house_df['Floor']))
print(len(house_df[house_df['Renovation'] == '其他']))

{'高楼层(共15层)', '中楼层(共8层)', '高楼层(共32层)', '中楼层(共14层)', '地下室(共9层)', '低楼层(共16层)', '底层(共15层)', '高楼层(共22层)', '地下室(共20层)', '高楼层(共13层)', '低楼层(共21层)', '中楼层(共7层)', '底层(共3层)', '低楼层(共15层)', '顶层(共11层)', '高楼层(共23层)', '高楼层(共9层)', '高楼层(共25层)', '底层(共8层)', '底层(共16层)', '中楼层(共10层)', '底层(共20层)', '高楼层(共19层)', '高楼层(共16层)', '中楼层(共20层)', '底层(共14层)', '高楼层(共7层)', '中楼层(共33层)', '顶层(共17层)', '高楼层(共28层)', '顶层(共3层)', '高楼层(共21层)', '地下室(共12层)', '底层(共22层)', '底层(共7层)', '顶层(共20层)', '低楼层(共32层)', '顶层(共10层)', '底层(共11层)', '顶层(共13层)', '中楼层(共30层)', '顶层(共25层)', '底层(共18层)', '中楼层(共16层)', '顶层(共22层)', '中楼层(共32层)', '底层(共19层)', '顶层(共9层)', '底层(共24层)', '低楼层(共3层)', '地下室', '底层(共30层)', '中楼层(共25层)', '地下室(共6层)', '高楼层(共18层)', '顶层(共18层)', '顶层(共15层)', '中楼层(共27层)', '中楼层(共9层)', '低楼层(共23层)', '中楼层(共17层)', '低楼层(共19层)', '底层(共33层)', '顶层(共21层)', '中楼层(共18层)', '中楼层(共6层)', '中楼层(共13层)', '低楼层(共30层)', '中楼层(共4层)', '高楼层(共6层)', '中楼层(共12层)', '高楼层(共11层)', '底层(共9层)', '高楼层(共10层)', '底层(共10层)', '中楼层(共23层)', '低楼层(共20层)', '地下室(共3层)', '高楼层(共26层)', '顶层(共12层)', '底层(共4层)', '高楼层(共12层)', '顶层(共5层)', '低楼层(共14层)', '顶层(共2层)', '顶层(共14层)', '高楼层(共20层)', '未知(共18层)', '高楼层(共24层)', '中楼层(共22层)', '中楼层(共5层)', '底层(共23层)', '低楼层(共22层)', '顶层(共6层)', '底层(共6层)', '顶层(共7层)', '顶层(共28层)', '未知(共16层)', '未知(共7层)', '高楼层(共17层)', '低楼层(共25层)', '顶层(共19层)', '低楼层(共13层)', '中楼层(共24层)', '高楼层(共30层)', '低楼层(共5层)', '低楼层(共8层)', '顶层(共4层)', '底层(共1层)', '底层(共25层)', '低楼层(共10层)', '低楼层(共6层)', '低楼层(共7层)', '顶层(共8层)', '中楼层(共26层)', '底层(共17层)', '低楼层(共12层)', '低楼层(共11层)', '底层(共2层)', '地下室(共1层)', '顶层(共26层)', '中楼层(共21层)', '低楼层(共26层)', '顶层(共16层)', '高楼层(共27层)', '中楼层(共19层)', '底层(共27层)', '低楼层(共27层)', '低楼层(共17层)', '底层(共12层)', '顶层(共23层)', '顶层(共24层)', '底层(共5层)', '中楼层(共11层)', '未知(共23层)', '底层(共26层)', '高楼层(共14层)', '低楼层(共24层)', '底层(共21层)', '中楼层(共15层)', '底层(共13层)', '地下室(共8层)', '低楼层(共18层)', '高楼层(共8层)', '中楼层(共28层)', '低楼层(共28层)', '未知(共5层)', '未知(共6层)', '低楼层(共9层)'}
9528

# 房产数据再整理

In [1]:
import json

In [7]:
with open("data/house_poi_data_more_precise.json") as f:
    houses = json.load(f)

In [9]:
for house in houses:
    if "-" in house['price_per_meter']:
        value = house['price_per_meter']
        print(value)
        house['price_per_meter'] = str(sum([int(i) for i in value.split("-")]) / 2)
        print(house['price_per_meter'])

In [11]:
with open("data/house_poi_data_more_precise.json", "w") as f:
    json.dump(houses, f, ensure_ascii=False, indent = 4)

In [12]:
with open("data/house_data.json") as f:
    houses = json.load(f)
for house in houses:
    if "-" in house['price_per_meter']:
        value = house['price_per_meter']
        print(value)
        house['price_per_meter'] = str(sum([int(i) for i in value.split("-")]) / 2)
        print(house['price_per_meter'])
with open("data/house_data.json", "w") as f:
    json.dump(houses, f, ensure_ascii=False, indent = 4)

37944-39493
38718.5
24307-26865
25586.0
24289-26846
25567.5
37499-40002
38750.5
30660-33887
32273.5
36264-40081
38172.5
35517-39255
37386.0
54146-59845
56995.5
35980-39767
37873.5
59055-65271
62163.0
47500-52500
50000.0
21323-21933
21628.0